# Snakemake scratch
.snakemake/
*.snakemake.log

# Python byte-code & virtual-env
__pycache__/
*.py[cod]
.env/

# workflow outputs & intermediates
/results/
/bed/
/plots/
/results/fimo_upstream1kb/
/fimo_upstream1kb/

# “raw” input data you don’t want in git
/genomic_data_gut/
/genomic_data_head/
/Genome/
/Genes/
/TE/

# locally built binaries
meme-5.4.1*/
meme-5.4.1.tar.gz

# IDE/editor settings
.vscode/
.idea/

# historical snakefiles
snakefileOLD_*
